
.user-stats-chart-vertical {
  background-color: var(--background-color-secondary);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.button-view-all {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: var(--background-color-secondary);
  color: var(--text-color);
  cursor: pointer;
  font-family: var(--font-family);
  margin-top: 20px;
}

.button-view-all:hover {
  opacity: 0.8;
}
